

.accordion-enter {
  opacity: 0;
  max-height: 0px;
}
.accordion-enter-active {
  opacity: 1;
  max-height: 400px;
  transition: max-height 1250ms ease-in, opacity 1250ms ease-in ;
}
.accordion-exit {
  opacity: 1;
  max-height: 400px;
}
.accordion-exit-active {
  opacity: 0;
  max-height: 0px;
  transition: max-height 1250ms ease-in, opacity 1250ms ease-in;
}