@import '../../styles/styles.scss';

.accordion-wrapper {
    .circle-open {
        margin: 0 auto;
        width:80px;
        height:80px;
        border-radius:40px;
        font-size:12px;
        color:black;
        line-height:80px;
        text-align:center;
        background-color: $BACKGROUND_COLOR_STD;
        z-index: 1;
        overflow: hidden;
        box-shadow: $BOX_SHADOW
    }
    .circle-closed {
        overflow: hidden;
        margin: 0 auto;
        width:40px;
        height:40px;
        border-radius:20px;
        font-size:12px;
        color:black;
        line-height:40px;
        text-align:left;
        background-color: $BACKGROUND_COLOR_STD;
        z-index: 1;
        .fa-check {
            color: green;
        }
        .fa-times {
            color: red;
        }
    }
    
    .section-open {
        overflow: hidden;
        background-color: white;
        display: flex;

        hr {
            height: calc(50% - 40px);
            z-index: -1;
            margin: 0 auto;
            border-width: 0px;
            background-color: $BORDER_COLOR;
        }
        .hide {
            background-color: white;
        }
        z-index: 50;
    }
    
    .section-closed {
        overflow: hidden;
        background-color: transparent;
        display: flex;
        hr {
            height: calc(50% - 20px);
            z-index: -1;
            margin: 0 auto;
            border-width: 0px;
            background-color: $BORDER_COLOR;
        }
        .hide {
            background-color: transparent;
        }
    }
    
    .accordion-left {
       min-width: 100px;
       strong {
           font-size: 26px;
       }
    }
    .accordion-right {
       padding: 15px 15px 15px 15px;
       width: 100%;
       position: relative;
       & > button {
           margin-top:  20px;
       }
       .accordion-hover:hover{
           cursor: pointer;
       }
       .accordion-icon {
            height: 30px;
            width: 30px;
            position: absolute;
            right: 15px;
            top: 10px;
        }
    }
}