.accordion-wrapper {
  .circle-open {
    margin: 0 auto;
    width:80px;
    height:80px;
    border-radius:40px;
    font-size:12px;
    color:black;
    line-height:80px;
    text-align:center;
    z-index: 1;
    overflow: hidden;
  }
  .circle-closed {
    overflow: hidden;
    margin: 0 auto;
    width:60px;
    height:80px;
    line-height:60px;
    text-align:left;
    z-index: 1;
    opacity: 0.5;
    transition: opacity .35s ease;
    &:hover {
      opacity: 0.8;
    }
    & > div {
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
  
  .section-open {
    overflow: hidden;
    background-color: white;
    display: flex;

    hr {
      // height: calc(50% - 40px);
      height: calc(50%);
      z-index: -1;
      margin: 0 auto;
      border-width: 0px;
      background-color: #dddfe2;
    }
    .hide {
      background-color: white;
    }
    z-index: 50;
  }
  
  .section-closed {
    font-family: 'Open sans', sans-serif;
    overflow: hidden;
    display: flex;
    color: #8c8f92;
    hr {
      height: calc(50% - 20px);
      z-index: -1;
      margin: 0 auto;
      border-width: 0px;
      background-color: #dddfe2;
    }
    .hide {
      background-color: transparent;
    }
    .accordion-right{
      &:hover{
        cursor: pointer;    
        color: #6b6e70;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.20);
      }
      // text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
      transition: text-shadow, color .3s ease;
    }
  }
  
  .accordion-left {
    min-width: 100px;
    strong {
      font-size: 26px;
    }
  }
  .accordion-right {
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    width: 100%;
    position: relative;
    & > button {
      margin:  20px 0px 0px 27px;
    }  
    line-height:40px;
  }
}